<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="so_arm101">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <xacro:include filename="$(find aura_description)/urdf/so_arm101.urdf.xacro" />

    <xacro:include filename="so_arm101.ros2_control.xacro" />

    <xacro:so_arm101_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
